<h1><%= @player_1.name %> vs. <%= @player_2.name %> </h1>
<h1><%= @player_2.name %> has 20 hit points </h1>
<form action='/attack_confirmed' method='get'>
  <input type='submit' value="Attack">
</form>
